# El lenguaje de programación Python🐍 - Intermedio

 **<div style="text-align: right"> Samuel Arturo Garrido Sánchez</div>**

Python es un lenguaje de programación **multiparadigma**, muy útil para demasiadas ramas de la investigación, desarrollos y procesos. 
Su filosofía radica en un código legible que cualquier persona no enfocada en el área de programación, pueda comprender.

![](img/let.png)

# ¿Qué es Python?

Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código.

Se trata de un lenguaje de programación multiparadigma, ya que soporta orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.

Es administrado por la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License, que es compatible con la Licencia pública general de GNU a partir de la versión 2.1.1, e incompatible en ciertas versiones anteriores.

![](img/python.jpg)

### Las ventajas de Python pueden ser muchas pero en las que destacan:

- La cantidad de bibliotecas que contiene, tipos de datos y funciones incorporadas en el propio lenguaje, que ayudan a realizar muchas tareas habituales sin necesidad de tener que programarlas desde cero.

- La sencillez y velocidad con la que se crean los programas. Un programa en Python puede tener de 3 a 5 líneas de código menos que su equivalente en Java o C.

- La cantidad de plataformas en las que podemos desarrollar, como Unix, Windows, OS/2, Mac, Amiga y otros.

- Además, Python es gratuito, incluso para propósitos empresariales.

## Expresiones Regulares 📝

Una expresión regular es un modelo con el que el motor de expresiones regulares intenta buscar una coincidencia en el texto de entrada. Un modelo consta de uno o más literales de carácter, operadores o estructuras.

**En otras palabras, buscamos PATRONES.**


La siguiente tabla nos muestra algunas formas de poder denotar un conjunto de símbolos por ejemplo un dígito puede escribirse como `\d` pero `\d+` significa todos los números de cualquier longitud.`\w` significa una letra pero `\w+` significa todas las palabras habidas y por haber de todos los idiomas. 

![](img/picu.png)

Digamos que somos desarrolladores de software en una compañía donde un programa nos genera un **LOG** (traducción: Bitácora) y este es un texto largo largo largo. Un log es como el chismógrafo donde cada acción que hagas o los printf() que coloque el programador van al registro, como su nombre lo dice, una bitácora.

Ejemplo:

    109.169.248.247 - - [12/Dec/2015:18:25:11 +0100] "GET /administrator/ HTTP/1.1" 200 4263 
    109.169.248.247 - - [13/Dec/2015:18:25:11 +0100] "POST /administrator/index.php HTTP/1.1" 200 4494 
    46.72.177.4 - - [15/Dec/2015:18:31:08 +0100] "GET /administrator/ HTTP/1.1" 200 4263 
    46.72.177.4 - - [15/Dec/2015:18:31:08 +0100] "POST /administrator/index.php HTTP/1.1" 200 4494
    83.167.113.100 - - [17/Dec/2015:18:31:25 +0100] "GET /administrator/ HTTP/1.1" 200 4263 
    83.167.113.100 - - [18/Dec/2015:18:31:25 +0100] "POST /administrator/index.php HTTP/1.1" 200 4494 

Si su trabajo consistiera en, tengo un archivo con más de 100 Millones de éstas líneas, me respondan las siguientes preguntas:

- ¿Cuántas conexiones se realizaron del 12 al 15 de Diciembre por /administrator y con el método POST?
- ¿Cuántas conexiones GET de usuarios que no sean /administrator se realizaron en horario de 12 am a 9 am?
- ¿Cuántas conexiones fueron exitosas (Código 200) el 13 y 14 de Diciembre?

### ¿Nos ponemos a contar? 🤯 

Quien no tenga nada que hacer en cuarentena, adelante. Sin embargo podríamos calcularlo con solo unas cuántas líneas de código. Lo veremos más adelante, mientras tanto lo básico.

Python tiene un paquete incorporado llamado **re**, que se puede usar para trabajar con expresiones regulares.
Puedes comenzar a usar expresiones regulares usando el módulo **re**.

**Funciones incluidas en el paquete:**


- `findall`: Devuelve una lista que contiene todas las coincidencias
- `search`:	 Devuelve un objeto Match si hay una coincidencia en cualquier parte de la cadena
- `split`:	 Devuelve una lista donde la cadena se ha dividido en cada coincidencia
- `sub`:	 Reemplaza una o varias coincidencias con una cadena
- `match`:	 Determina si la expresión coincide al principio de la cadena

In [46]:
import re

p = re.compile(r'\d+')

x = p.findall('11 es un número y 12 también, después tenemos al 13, 14, 15 y sin olvidar al 20')

print(x)

if x:
    print("Hay al menos una coincidencia!")
else:
    print("No hay coincidencias")

['11', '12', '13', '14', '15', '20']
Hay al menos una coincidencia!

In [55]:
expresion = "(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)"

correo = "correo_prote.co_4@gmail.com"

print(re.match(expresion, correo))

if re.match(expresion, correo):
    print("Es válida ✅")
else:
    print("NO es válida ❌")

<_sre.SRE_Match object; span=(0, 27), match='correo_prote.co_4@gmail.com'>
Es válida ✅

## Contestemos las preguntas iniciales con un archivo externo

### 1. ¿Cuántas conexiones se realizaron del 12 al 15 de Diciembre por /administrator y con el método POST?

**Expresión regular:** `\d+\.\d+\.\d+\.\d+ - - \[1[2-5]\/Dec\/\d+:.{17}POST \/administrator\/.+`

In [48]:
import re

#Compilamos nuestra expresión regular
miExpresionRegular = re.compile(r'\d+\.\d+\.\d+\.\d+ - - \[1[2-5]\/Dec\/\d+:.{17}POST \/administrator\/.+')

#Al abrir el archivo apache.log como 'archivo' has esto:

with open('apache.log') as archivo:
    contenido = archivo.read()
    print("Número de conexiones del 12-15 Dic POST por arministrador: ",len(miExpresionRegular.findall(contenido)))
    print("\nEjemplos: \n")
    print(miExpresionRegular.findall(contenido)[0]+"\n")
    print(miExpresionRegular.findall(contenido)[1])

Número de conexiones del 12-15 Dic POST por arministrador:  425

Ejemplos:

109.169.248.247 - - [12/Dec/2015:18:25:11 +0100] "POST /administrator/index.php HTTP/1.1" 200 4494 "http://almhuette-raith.at/administrator/" "Mozilla/5.0 (Windows NT 6.0; rv:34.0) Gecko/20100101 Firefox/34.0" "-"

46.72.177.4 - - [12/Dec/2015:18:31:08 +0100] "POST /administrator/index.php HTTP/1.1" 200 4494 "http://almhuette-raith.at/administrator/" "Mozilla/5.0 (Windows NT 6.0; rv:34.0) Gecko/20100101 Firefox/34.0" "-"

### 2. ¿Cuántas conexiones GET de usuarios que no sean /administrator se realizaron en horario de 12 am a 9 am?

**Expresión regular:** `\d+\.\d+\.\d+\.\d+ - - \[\d+\/\w+\/\d+:0[0-9]:\d+:\d+ \+\d+\] "GET \/(?!administrator).+`

In [38]:
import re

#Compilamos nuestra expresión regular
miExpresionRegular2 = re.compile(r'\d+\.\d+\.\d+\.\d+ - - \[\d+\/\w+\/\d+:0[0-9]:\d+:\d+ \+\d+\] "GET \/(?!administrator).+')

#Al abrir el archivo apache.log como 'archivo' has esto:

with open('apache.log') as archivo:
    contenido = archivo.read() # Lee su contenido
    print("Número de conexiones GET no realizadas por /administrator de 0 am a 9 am: ",len(miExpresionRegular2.findall(contenido))) #Imprime el tamaño del arreglo de todas las coincidencias
    print("\nEjemplos: \n") 
    print(miExpresionRegular2.findall(contenido)[0]+"\n")
    print(miExpresionRegular2.findall(contenido)[1])

Número de conexiones GET no realizadas por /administrator de 0 am a 9 am:  36

Ejemplos:

188.143.232.11 - - [13/Dec/2015:00:01:23 +0100] "GET /apache-log/access.log HTTP/1.1" 200 75060 "-" "Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; SV1)" "-"

66.249.66.19 - - [13/Dec/2015:00:40:24 +0100] "GET / HTTP/1.1" 200 10479 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" "-"

### 3. ¿Cuántas conexiones fueron exitosas (Código 200) el 13 y 14 de Diciembre?

**Expresión regular:** `\d+\.\d+\.\d+\.\d+ - - \[1[3-4]\/Dec\/\d+:\d+:\d+:\d+ \+\d+\] "\w+ [^ ]+ [^ ]+ 200 .+`

In [56]:
import re

#Compilamos nuestra expresión regular
miExpresionRegular3 = re.compile(r'\d+\.\d+\.\d+\.\d+ - - \[1[3-4]\/Dec\/\d+:\d+:\d+:\d+ \+\d+\] "\w+ [^ ]+ [^ ]+ 200 .+')

#Al abrir el archivo apache.log como 'archivo' has esto:

with open('apache.log') as archivo:
    contenido = archivo.read() # Lee su contenido
    print("Conexiones Exitosas (200) el 13 y 14 de Diciembre: ",len(miExpresionRegular3.findall(contenido))) #Imprime el tamaño del arreglo de todas las coincidencias
    print("\nEjemplos: \n") 
    print(miExpresionRegular3.findall(contenido)[0]+"\n")
    print(miExpresionRegular3.findall(contenido)[1])

Conexiones Exitosas (200) el 13 y 14 de Diciembre:  636

Ejemplos:

109.106.143.62 - - [13/Dec/2015:00:00:20 +0100] "GET /administrator/ HTTP/1.1" 200 4263 "-" "Mozilla/5.0 (Windows NT 6.0; rv:34.0) Gecko/20100101 Firefox/34.0" "-"

109.106.143.62 - - [13/Dec/2015:00:00:20 +0100] "POST /administrator/index.php HTTP/1.1" 200 4494 "http://almhuette-raith.at/administrator/" "Mozilla/5.0 (Windows NT 6.0; rv:34.0) Gecko/20100101 Firefox/34.0" "-"

# Bases de Datos

In [40]:
import mysql.connector

#Creamos el conector a la BD
mydb = mysql.connector.connect(
  host="pythoninter.c7rbflvluzyk.us-east-2.rds.amazonaws.com",
  user="admin",
  password="proteco123"
)

## Creamos un cursor por la conexión creada--------------------------------------------
cursor1 = mydb.cursor()
cursor1.execute("CREATE DATABASE asistente") ## FAVOR DE CREAR UNA BASE DE DATOS LLAMADA asistente_<numero_asistente>
cursor1.execute("SHOW DATABASES")   ### Ej: asistente_1, asistente_2, asistente_3, etc.
print("Mis bases de datos son: ")
for baseDatos in cursor1:
    print(baseDatos)

cursor1.execute("use asistente") ## FAVOR DE INGRESAR asistente_<su_numero> ------------

        
## Creamos otro cursor y creamos una entidad en la base de datos

cursor2 = mydb.cursor()
cursor2.execute("""CREATE TABLE PROFESOR (ID INT AUTO_INCREMENT PRIMARY KEY, 
                                          NOMBRE VARCHAR(40),
                                          APELLIDO_PAT VARCHAR(40),
                                          APELLIDO_MAT VARCHAR(40),
                                          EDAD INT,
                                          DOMICILIO VARCHAR(255),
                                          SALARIO DECIMAL(5,2))
                                          """);

print("\nSe ha creado la entidad de profesor")

######## --------- Creamos unos objetos profesores.


class Profesor:
    def __init__(self,id,nombre,apellido_pat,apellido_mat,edad,domicilio,salario):
        self.id = id
        self.nombre = nombre
        self.apellido_pat = apellido_pat
        self.apellido_mat = apellido_mat
        self.edad = edad
        self.domicilio = domicilio
        self.salario = salario   

missConchi = Profesor(1,'Ana Concepción','Castillo','Corona',33,'Av.Robles, Tabasco, Mex',13000)
mrRafa     = Profesor(2,'Rafael','García','Rueda',44,'Av. Maya, Tabasco, Mex',12000)
missDulce  = Profesor(3,'Dulce Mónica','Escalante','Garrido',30,'Av. Olmeca, Campeche, Mex',12000)
missLoli   = Profesor(4,'Maria Dolores','Taracena','Blé',31,'Av. Palenque, Chiapas, Mex',15000)

#Hacemos una lista de objetos profesor
listaDeProfesores = [missConchi,mrRafa,missDulce,missLoli]

print("Se han creado objetos de la clase Profesor y los hemos puesto en una lista ")
## Hacemos la instrucción SQL

sql = "INSERT INTO PROFESOR (NOMBRE, APELLIDO_PAT,APELLIDO_MAT,EDAD,DOMICILIO,SALARIO) VALUES (%s,%s,%s,%s,%s,%s)"

# Y mandamos a través del SQL y de la lista de profesores los datos a la base de datos en MySQL

for profe in listaDeProfesores:
    valores = (profe.nombre, profe.apellido_pat,profe.apellido_mat,profe.edad,profe.domicilio,profe.salario)
    cursor2.execute(sql, valores)

print("Se han insertado a los profesores en la base")

mydb.commit() ## Confirmamos los cambios

## Por buenas prácticas, cerramos todas las conexiones

if cursor1.close() and cursor2.close():
    print("Se han cerrado correctamente las conexiones :)")
    print("Algoritmo finalizado!")

Mis bases de datos son:
('asistente',)
('information_schema',)
('mysql',)
('performance_schema',)
('python2020',)

Se ha creado la entidad de profesor
Se han creado objetos de la clase Profesor y los hemos puesto en una lista
Se han insertado a los profesores en la base
Se han cerrado correctamente las conexiones :)
Algoritmo finalizado!

In [32]:
otroCursor = mydb.cursor()

otroCursor.execute("SELECT * FROM PROFESOR")

consulta = otroCursor.fetchall()

for fila in consulta:
    print(fila)
    
otroCursor.close()

(1, 'Ana Concepción', 'Castillo', 'Corona', 33, 'Av.Robles, Tabasco, Mex', Decimal('999.99'))
(2, 'Rafael', 'García', 'Rueda', 44, 'Av. Maya, Tabasco, Mex', Decimal('999.99'))
(3, 'Dulce Mónica', 'Escalante', 'Garrido', 30, 'Av. Olmeca, Campeche, Mex', Decimal('999.99'))
(4, 'Maria Dolores', 'Taracena', 'Blé', 31, 'Av. Palenque, Chiapas, Mex', Decimal('999.99'))

True

In [39]:
cursorDelete = mydb.cursor()
cursorDelete.execute("DROP DATABASE asistente")
cursorDelete.close()

True

In [41]:
import cx_Oracle

## DATOS DE CONEXIÓN
dsn_tns = cx_Oracle.makedsn('python.c7rbflvluzyk.us-east-2.rds.amazonaws.com', '1521', 'ORCL')
BasedeDatos = cx_Oracle.connect(user='PYTHON_INTERMEDIO', password='python', dsn=dsn_tns)

In [42]:
## CREACIÓN DE LA TABLA O ENTIDAD

# Para poder ejecutar un comando SQL dentro de Python usaremos: el objeto BaseDeDatos, tiene un objeto cursor
## Y este a su vez tiene un método llamado Execute que ejecuta un SQL en forma de cadena String.

BasedeDatos.cursor().execute("""CREATE TABLE PROFESOR(
                                ID number (10,0) NOT NULL,
                                NOMBRE VARCHAR2(30),
                                APELLIDO_PAT VARCHAR2(30),
                                APELLIDO_MAT VARCHAR2(30),
                                EDAD NUMBER(3,0),
                                DOMICILIO VARCHAR2(100),
                                SALARIO NUMBER(10,2))
                                """ )

BasedeDatos.autocommit = True  ## PARA QUE GUARDE LOS CAMBIOS AUTOMÁTICAMENTE

OperationalError: ORA-03113: end-of-file on communication channel
Process ID: 24979
Session ID: 35 Serial number: 140733193396560

In [ ]:
# INSERCIÓN DE DATOS
## Imaginemos que creamos objetos de tipo profesor con estos atributos

class Profesor:
    def __init__(self,id,nombre,apellido_pat,apellido_mat,edad,domicilio,salario):
        self.id = id
        self.nombre = nombre
        self.apellido_pat = apellido_pat
        self.apellido_mat = apellido_mat
        self.edad = edad
        self.domicilio = domicilio
        self.salario = salario

## creamos a missConchi, a mrRafa, a missDulce y a missLoli, todos objetos de tipo Profesor

missConchi = Profesor(1,'Ana Concepción','Castillo','Corona',33,'Av.Robles, Tabasco, Mex',13000)
mrRafa     = Profesor(2,'Rafael','García','Rueda',44,'Av. Maya, Tabasco, Mex',12000)
missDulce  = Profesor(3,'Dulce Mónica','Escalante','Garrido',30,'Av. Olmeca, Campeche, Mex',12000)
missLoli   = Profesor(4,'Maria Dolores','Taracena','Blé',31,'Av. Palenque, Chiapas, Mex',15000)

# Hacemos una lista de profesores

listaDeProfesores = [missConchi,mrRafa,missDulce,missLoli]

In [ ]:
sqls = [] # Y una lista para poder poner nuestras cadenas de texto SQL

#Ahora hacemos los strings SQL para ver qué tal quedan

for profe in listaDeProfesores:
    comandosql = 'INSERT INTO PROFESOR VALUES ('+str(profe.id)+',\''+profe.nombre+'\',\''+profe.apellido_pat+'\',\''+profe.apellido_mat+'\','+str(profe.edad)+',\''+profe.domicilio+'\','+str(profe.salario)+')'
    print(comandosql)
    sqls.append(comandosql)

for comandos in sqls:
    BasedeDatos.cursor().execute(comandos)

In [110]:
## RECUPERAR INFORMACIÓN DE ESA BASE DE DATOS

cursor = BasedeDatos.cursor() ## El curso se utiliza para recorrer cada fila
cursor.execute('SELECT * FROM PROFESOR') # Ejecuta la instrucción SQL


for fila in cursor: ## Para cada fila que encuentre en la tabla(s)
    print(fila)

BasedeDatos.cursor().close()

(1, 'Ana Concepción', 'Castillo', 'Corona', 33, 'Av.Robles, Tabasco, Mex', 13000.0)
(2, 'Rafael', 'García', 'Rueda', 44, 'Av. Maya, Tabasco, Mex', 12000.0)
(3, 'Dulce Mónica', 'Escalante', 'Garrido', 30, 'Av. Olmeca, Campeche, Mex', 12000.0)
(4, 'Maria Dolores', 'Taracena', 'Blé', 31, 'Av. Palenque, Chiapas, Mex', 15000.0)